@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

body {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Poppins", serif;
  background-image: url("header.png");
  background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}
h1 {
	font-weight: 800;
        color: white;
	margin: 1rem 0 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(7, 8rem);
  flex-wrap: wrap;
  list-style: none;

	li {
		display: flex;
		width: 8rem;
		height: 10rem;
		margin: 0.25rem;
		flex-flow: column;
		border-radius: 0.2rem;
		padding: 1rem;
		font-weight: 300;
		font-size: 0.8rem;
		box-sizing: border-box;
		background: #ff99c7;
		box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
		backdrop-filter: blur(4px);
		-webkit-backdrop-filter: blur(4px);
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.18);

		time {
			font-size: 2rem;
			margin: 0 0 1rem 0;
			font-weight: 500;
		}
	}
	.today {
		time {
			font-weight: 800;
		}
		background: #ff99c7;
	}
}


body {
  margin: 0;
  background-color: #ff99c7;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  background-color: #e03691;
  position: fixed;
  top: 0;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}
@media only screen and (max-width: 600px) {
  .columns {
    width: 100%;
  }

